/* .swiper-button-next::after,
.swiper-button-prev::after {
    content: "";
} */

/* .mySwiper {
    height: min-content;
} */

/* Dev purposes */
/* .swiper-slide {
    background-color: red;
} */

/* .swiperWithArrows {
    display: flex;
    flex-direction: column;

} */
.arrows {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    top: -24ch;
    /* transform: scale(0.5); */
}

@media only screen and (max-width: 1085px) {
    .next-arrow {
        transform: scale(0.8);
    }

    .prev-arrow {
        transform: scale(0.8);
    }
}

@media only screen and (max-width: 800px) {
    .next-arrow {
        transform: scale(0.7);
    }

    .prev-arrow {
        transform: scale(0.7);
    }
}
/* @media only screen and (min-width: 2000px) {
    .arrows {
        top: -250px
    }
} */